* {
  background-color: #016868;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --button-color: #2E8B57;
  --button-hover: #41a06a;
  --selected-color: turquoise;
}

body {
  height: 100%;
  width: 100%;
}

.vidljivo {
  visibility: visible;
  /*display: inline;*/
}

.nevidljivo {
  visibility: hidden;
  display: none;
}

select,
option {
  background-color: white;
}

.EditMeteoalarmDIVLijeviCentralniDesni {
  display: table;
  position: absolute;
  height: 100%;
  width: 99%;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  /*overflow-x: hidden;*/
  /*border: 2px solid red;*/
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni {
  display: table-cell;
  height: 100%;
  color: white;
  /*border: 2px solid orange;*/
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .EditMeteoalarmDIVButton,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni .EditMeteoalarmDIVButton,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni .EditMeteoalarmDIVButton {
  padding-top: 25px;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .EditMeteoalarmDIVButton input,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni .EditMeteoalarmDIVButton input,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni .EditMeteoalarmDIVButton input {
  border: 2px solid black;
  text-align: center;
  background-color: var(--button-color);
  height: 35px;
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: large;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .EditMeteoalarmDIVButton input:hover:not([disabled]),
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni .EditMeteoalarmDIVButton input:hover:not([disabled]),
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni .EditMeteoalarmDIVButton input:hover:not([disabled]) {
  background-color: var(--button-hover);
  cursor: pointer;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi {
  width: 15%;
  /*border: 2px solid yellow;*/
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi input[type=button]:disabled {
  background-color: gray;
  cursor: auto;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi input:disabled + label {
  opacity: 0;
  cursor: auto;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .EditMeteoalarmDIVPojava,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .EditMeteoalarmDIVRegion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px 0px 23px;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi label,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi input {
  padding-left: 5px;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi input:hover,
.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi label:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi label {
  display: inline-block;
  width: 100%;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi input:checked + label {
  color: var(--selected-color);
  opacity: 1;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi .prikaz_regiona_checkboxes {
  padding-top: 5px;
  height: 300px;
  overflow-y: scroll;
  overflow-x: auto;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi select {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 5px;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVLijevi select option {
  padding: 5px;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni {
  position: absolute;
  height: 100%;
  width: 64%;
  overflow: auto;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVCentralni iframe {
  overflow: hidden;
  position: absolute;
  width: 90%;
  height: 95%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni {
  position: relative;
  width: 20%;
}

.EditMeteoalarmDIVLijeviCentralniDesni .EditMeteoalarmDIVDesni input:disabled {
  background-color: gray;
  cursor: auto;
}

#prikaz_unosa_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  width: 100%;
}

#prikaz_unosa_div .container {
  padding: 5px;
}

#prikaz_unosa_div .container div:nth-child(1) span:nth-child(1) {
  width: 25%;
}

#prikaz_unosa_div .container div:nth-child(1) span:nth-child(1) select {
  width: 120px;
}

#prikaz_unosa_div .container div:nth-child(1) span:nth-child(2) {
  width: 45%;
}

#prikaz_unosa_div .container div:nth-child(1) span:nth-child(3) {
  width: 25%;
}

#prikaz_unosa_div .container div:nth-child(2),
#prikaz_unosa_div .container div:nth-child(3),
#prikaz_unosa_div .container div:nth-child(4),
#prikaz_unosa_div .container div:nth-child(5) {
  width: 100%;
}

#prikaz_unosa_div .container div:nth-child(2) span,
#prikaz_unosa_div .container div:nth-child(3) span,
#prikaz_unosa_div .container div:nth-child(4) span,
#prikaz_unosa_div .container div:nth-child(5) span {
  margin: 0;
  width: 49%;
}

#prikaz_unosa_div .container div:nth-child(5) {
  border-bottom: 5px solid gray;
}

#prikaz_unosa_div span {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}

#prikaz_unosa_div p {
  display: inline;
  padding: 0 5px 0 0;
}

#prikaz_unosa_div p.dvotacka {
  padding: 0 5px;
}

#prikaz_unosa_div input,
#prikaz_unosa_div textarea {
  background-color: white;
  color: black;
  width: 100%;
}

#prikaz_unosa_div textarea {
  height: 100px;
  resize: none;
}

#prikaz_unosa_div input[type=button] {
  background-color: var(--button-color);
  color: white;
  font-weight: bolder;
  font-size: 23px;
  height: 30px;
  width: 100px;
  padding: 0;
}

#prikaz_unosa_div input[type=button]:hover:not([disabled]) {
  cursor: pointer;
  background-color: var(--button-hover);
}

#prikaz_unosa_div input:disabled {
  background-color: gray;
  cursor: auto;
}

#prikaz_unosa_div select {
  min-width: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

#prikaz_unosa_div option {
  padding: 0 2px;
  font-weight: bolder;
}

#prikaz_upozorenja_div {
  text-align: center;
}

#prikaz_upozorenja_div .parametri_div {
  display: block;
  width: 100%;
  background-color: var(--selected-color);
  text-align: center;
  letter-spacing: 3px;
  color: black;
}

#prikaz_upozorenja_div .parametri_div table,
#prikaz_upozorenja_div .parametri_div th,
#prikaz_upozorenja_div .parametri_div td {
  border: 2px solid white;
  color: white;
}

#prikaz_upozorenja_div .parametri_div table {
  width: 100%;
  padding-bottom: 50px;
}

#prikaz_upozorenja_div .parametri_div th {
  background-color: white;
  color: black;
}

#prikaz_upozorenja_div .parametri_div th:nth-child(1),
#prikaz_upozorenja_div .parametri_div td:nth-child(1) {
  width: 150px;
  max-width: 150px;
  text-align: left;
  content: "dfgbs";
}

#prikaz_upozorenja_div .parametri_div th:nth-child(3),
#prikaz_upozorenja_div .parametri_div td:nth-child(3) {
  width: 50px;
  max-width: 50px;
}

#prikaz_upozorenja_div .parametri_div th:nth-child(4),
#prikaz_upozorenja_div .parametri_div th:nth-child(5),
#prikaz_upozorenja_div .parametri_div td:nth-child(4),
#prikaz_upozorenja_div .parametri_div td:nth-child(5) {
  width: 50px;
  max-width: 50px;
}

#prikaz_upozorenja_div .parametri_div th:nth-child(6),
#prikaz_upozorenja_div .parametri_div td:nth-child(6) {
  width: 300px;
  max-width: 600px;
  text-align: left;
}

#prikaz_upozorenja_div .parametri_div th:nth-child(7),
#prikaz_upozorenja_div .parametri_div td:nth-child(7) {
  width: 30px;
  max-width: 30px;
}

#prikaz_upozorenja_div input[name=prihvati] {
  color: white;
  background-color: var(--button-color);
  margin-top: 50px;
  padding: 5px;
  height: 50px;
  width: 200px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 10px;
}

#prikaz_upozorenja_div input[name=prihvati]:hover:not([disabled]) {
  cursor: pointer;
  background-color: var(--button-hover);
}

#prikaz_upozorenja_div input:disabled {
  background-color: gray;
  cursor: auto;
}

#prikaz_upozorenja_div .edit_btn {
  color: white;
  background-color: var(--button-color);
  padding: 5px;
  width: 100%;
  font-weight: bold;
  border: 2px solid black;
  cursor: pointer;
}
/*# sourceMappingURL=bh_meteoalarm_edit.css.map */